var services = [{"id":777754765,"apikey":"m777754765-582e850c65ccbefdd30deeff","title":"gijon.es","url":"gijon.es","description":"IP pública (http)","problem":"Tenemos un problema","ishero":"false","weight":10.00},
{"id":777754701,"apikey":"m777754701-8c5f83e0daa567b253ec5c11","title":"Web Municipal del Ayuntamiento de Gijón","url":"http://www.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"true","weight":15.00},
{"id":777754773,"apikey":"m777754773-b5ca694c9d080283204f12c2","title":"sedeelectronica.gijon.es","url":"sedeelectronica.gijon.es","description":"IP pública (https)","problem":"Tenemos un problema","ishero":"false","weight":10.00},
{"id":777754702,"apikey":"m777754702-8502f9378fdf39115b3eb848","title":"Sede Electrónica","url":"https://sedeelectronica.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":15.00},
{"id":777754770,"apikey":"m777754770-52c88491c346ce29d70f8ad5","title":"acerca.gijon.es","url":"acerca.gijon.es","description":"IP pública (http)","problem":"Tenemos un problema","ishero":"false","weight":10.00},
{"id":777754704,"apikey":"m777754704-94252434f3057a068d352172","title":"Oficina Virtual","url":"https://acerca.gijon.es/sta/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":15.00},
{"id":777754705,"apikey":"m777754705-60f3d5b8a2600cb98f27c839","title":"Registro electrónico","url":"https://acerca.gijon.es/sta/Relec/CatalogDetail?dboidRequest=6269030481598686606402&action=make&dboidProcedure=6262630470365419506402&urlBack=","description":" ","problem":"Tenemos un problema","ishero":"false","weight":3.00},
{"id":777754707,"apikey":"m777754707-1865e3319cce96041adef3c9","title":"Registro electrónico de facturas","url":"https://acerca.gijon.es/sta/Relec/CatalogDetail?dboidRequest=6269030503432845006402&action=make&dboidProcedure=6262630503430053206402&urlBack=","description":" ","problem":"Tenemos un problema","ishero":"false","weight":3.00},
{"id":777754708,"apikey":"m777754708-ede9116ce135fb36bfeb9653","title":"Contratación electrónica","url":"https://community.vortal.biz/PRODSTS/aytogijon/Login.aspx","description":" ","problem":"Tenemos un problema","ishero":"false","weight":3.00},
{"id":777754710,"apikey":"m777754710-7b8c0340f59a912103268032","title":"Certificado de empadronamiento","url":"https://acerca.gijon.es/eParticipa/Products/Carpeta/Public/Login.aspx?returnurl=/eParticipa/Start.aspx?AppScope=CIUDADANO","description":" ","problem":"Tenemos un problema","ishero":"false","weight":3.00},
{"id":777754778,"apikey":"m777754778-777fe9855bcec62ca6f2c7f0","title":"SMTP Primario","url":"smtp01.gijon.es","description":"Puerto 25","problem":"Tenemos un problema","ishero":"false","weight":2.00},
{"id":777754781,"apikey":"m777754781-863e6b39bdee9e4ea6302eb4","title":"SMTP Secundario","url":"smtp02.gijon.es","description":"Puerto 25","problem":"Tenemos un problema","ishero":"false","weight":2.00},
{"id":777754792,"apikey":"m777754792-c150e8d7b004b39f792aea98","title":"SMTP Ciudadania","url":"smtp01.ciudadania.gijon.es","description":"Puerto 25","problem":"Tenemos un problema","ishero":"false","weight":2.00},
{"id":777754711,"apikey":"m777754711-243874c0382860f86fe7b42b","title":"Firma de documentos","url":"https://acerca.gijon.es/sta/pages/utils/documentSign.jsp","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754712,"apikey":"m777754712-216b58dd14baec1d084942ae","title":"Validación de documentos","url":"https://acerca.gijon.es/sta/pages/utils/signCheck.jsp","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754713,"apikey":"m777754713-119b07902180c59d954c3e20","title":"Presupuestos Participativos","url":"https://presupuestosparticipativos.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754714,"apikey":"m777754714-9c0f51a5ee4c2a692064b167","title":"Hacienda","url":"http://hacienda.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754716,"apikey":"m777754716-6af5b44d232dfad80fe5aea8","title":"Pasarela de pago de Tributos Municipales","url":"http://www.gijon.es/page/9968-tpv","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754720,"apikey":"m777754720-55fda65141a795747f3a0e9b","title":"Portal de Transparencia","url":"http://transparencia.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754723,"apikey":"m777754723-2815b3adbf02d9e4cf86bd77","title":"Datos Abiertos","url":"https://observa.gijon.es/es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754725,"apikey":"m777754725-24861b2b83b6f8774e26842f","title":"Callejero","url":"http://callejero.gijon.es/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754727,"apikey":"m777754727-8b6e6e147526fd3fb8f1f4ad","title":"Cuida Gijón","url":"http://viamap.gijon.es/emap400/eMapWebView.aspx?cfg=viamap&prjid=GIJONPUB&scope=IVP&lang=3","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754728,"apikey":"m777754728-3efcf7412a6be3c7e6c2075a","title":"Recarga de la Tarjeta Ciudadana","url":"http://smart.gijon.es/tc/recarga/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754729,"apikey":"m777754729-ef2eddbfc060f23c8d117c6e","title":"Estado general de inversiones","url":"https://observa.gijon.es/Obras-p-blicas/ESTADO-GENERAL-DE-INVERSIONES/agjs-rqcv","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754731,"apikey":"m777754731-348dd8c368edb9ffa3a3b71a","title":"Inscripción actividades escolares","url":"https://actividades.gijon.es/ACTEntidades/pages/login/login.jsp","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754732,"apikey":"m777754732-90ee4a4889962efc5962d962","title":"Inscripción cursos y actividades deportivas y culturales","url":"http://actividades.gijon.es/ACTTerceros/home.do","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754734,"apikey":"m777754734-fc75673149d82f652a639f3f","title":"Reserva de instalaciones deportivas, locales de ensayo y venta de entradas","url":"https://reservas.gijon.es/alquiler/alq_inicio.asp","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47},
{"id":777754735,"apikey":"m777754735-5c799a659a03e9b356e1985a","title":"e-Atestado ","url":"http://eatestados.gijon.es:7073/accacciWeb/jsp/","description":" ","problem":"Tenemos un problema","ishero":"false","weight":0.47}]
